<!DOCTYPE html>
<html>
<head>
	<title>Blog :D</title>
</head>
<body>
	<div>
		<h1><a href="">Django Girls Blog</a></h1>
	</div>

	<div>
		<p>published: 14.06.2014, 12:14</p>
		<h2><a href="">My first post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ex, at saepe! Maxime veniam itaque modi eos explicabo ratione commodi, quidem quod magni fuga sit et hic voluptas sed non!</p>
	</div>

	<div>
		<p>published:14.06.2014, 12:14</p>
		<h2><a href="">My second post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ex ad suscipit, ut distinctio qui rem modi magni nostrum itaque cum officiis quibusdam laborum nulla odio optio temporibus doloremque est?</p>
	</div>
</body>
</html>